* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

textarea {
  border: none;
  outline: none;
}

textarea:focus {
  outline: none;
}

#neutralinoapp {
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background-color: inherit;
}

#neutralinoapp h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#neutralinoapp > div {
  font-size: 16px;
  font-weight: normal;
}

#writing-area-container {
  padding: 16px;
}

#writing-area {
  width: 100%;
  height: 100svh;
  background-color: inherit;
}

#menubar{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.icon-btn {
  width: 32px;
  height: 32px;
  padding: 4px;
  text-align: center;
  text-wrap: nowrap;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
}