* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

textarea {
  border: none;
  outline: none;
}

textarea:focus {
  outline: none;
}

#neutralinoapp {
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  background-color: inherit;
}

#neutralinoapp h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#neutralinoapp > div {
  font-size: 16px;
  font-weight: normal;
}

#writing-area-container {
  padding: 16px;
}

#writing-area {
  width: 100%;
  min-height: 100svh;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25rem;
}

#menubar {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 32px;
  /* background: #2C2C2C; */
}

.icon-btn {
  width: 20px;
  height: 20px;
  color: black;
  background-color: transparent;
  text-align: center;
  text-wrap: nowrap;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}